<div>
  <div class="container py-5 px-5">
    <div class="row justify-content-evenly">
      <div
        class="col-md-3 card-color rounded-4 py-3 ps-3 pe-5 fitwidth text-global"
      >
        <p class="fw-bold fs-3 mb-0">
          71,028 <span class="fs-6 fw-semibold">EGP</span>
        </p>
        <p class="fs-small fw-bold mb-0">Total Value</p>
        <i class="fa-solid fa-caret-down text-main"></i>
        <span class="text-main px-2">2%</span>
      </div>
      <div
        class="col-md-3 bg-white rounded-4 py-3 ps-3 pe-5 fitwidth text-global"
      >
        <p class="fw-bold fs-3 mb-0">
          20,000 <span class="fs-6 fw-semibold">m <sup>3</sup></span>
        </p>
        <p class="fs-small fw-bold mb-0">Total Sales</p>
        <i class="fa-solid fa-caret-up arrow-color"></i>
        <span class="text-main px-2 arrow-color">50 m<sup>3</sup></span>
      </div>
      <div
        class="col-md-3 bg-white rounded-4 py-3 ps-3 pe-5 fitwidth text-global"
      >
        <p class="fw-bold fs-3 mb-0">
          20,000 <span class="fs-6 fw-semibold">m <sup>3</sup></span>
        </p>
        <p class="fs-small fw-bold mb-0">Avg Sales</p>
        <i class="fa-solid fa-caret-down text-main"></i>
        <span class="text-main px-2">50 m <sup>3</sup></span>
      </div>
      <div
        class="col-md-3 bg-white rounded-4 py-3 ps-3 pe-5 fitwidth text-global"
      >
        <p class="fw-bold fs-3 mb-0">1567</p>
        <p class="fs-small fw-bold mb-0 lh-1">
          Total Transaction <br />
          Count
        </p>
        <i class="fa-solid fa-caret-up arrow-color"></i>
        <span class="arrow-color px-2">20</span>
      </div>
    </div>
    <div class="d-flex justify-content-end py-5">
      <button
        [ngClass]="{
          'bg-main , text-white ': show,
          'bg-light , text-dark': !show
        }"
        (click)="showGraph()"
        class="btnbordernone rounded-5 px5 mouse-pointer"
      >
        <i class="fa-solid fa-signal"></i> Graph
      </button>
      <button
        [ngClass]="{
          'bg-main , text-white ': !show,
          'bg-light , text-dark': show
        }"
        (click)="showList()"
        class="btnbordernone rounded-5 px-5 mouse-pointer"
      >
        <i class="fa-solid fa-bars"></i> List
      </button>
    </div>
    <div *ngIf="!show">
      <div class="card">
        <div class="card-header bg-white align-items-center">
          <span class="dot bg-main"></span>
          <img
            class="text-main"
            src="assets/images/gas-station-svgrepo-com-4.svg"
            alt=""
          />
          <span>STATION NAME DUMMY</span>
        </div>
        <div class="card-body d-flex">
          <div class="col-md-2">
            <p>Total Sales</p>
          </div>
          <div class="col-md-2">
            <p>62,721 m <sup>3</sup></p>
          </div>
          <div class="col-md-2">
            <p>Compression State</p>
          </div>
          <div class="col-md-2">
            <p>Compression</p>
          </div>
          <div class="col-md-2">
            <p>Max Transaction /hour</p>
          </div>
          <div class="col-md-2">
            <p>20</p>
          </div>
        </div>
        <div class="card-body d-flex">
          <div class="col-md-2">
            <p>Total Value</p>
          </div>
          <div class="col-md-2">
            <p>550 EGP</p>
          </div>
          <div class="col-md-2">
            <p>Total Transaction Count</p>
          </div>
          <div class="col-md-2">
            <p>5161</p>
          </div>
          <div class="col-md-2">
            <p>Max Transaction Date-Time</p>
          </div>
          <div class="col-md-2">
            <p>8-1-2021 | 10:16 PM</p>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white align-items-center">
          <span class="dot bg-main"></span>
          <img
            class="text-main"
            src="assets/images/gas-station-svgrepo-com-4.svg"
            alt=""
          />
          <span>STATION NAME DUMMY</span>
        </div>
        <div class="card-body d-flex">
          <div class="col-md-2">
            <p>Total Sales</p>
          </div>
          <div class="col-md-2">
            <p>62,721 m <sup>3</sup></p>
          </div>
          <div class="col-md-2">
            <p>Compression State</p>
          </div>
          <div class="col-md-2">
            <p>Compression</p>
          </div>
          <div class="col-md-2">
            <p>Max Transaction /hour</p>
          </div>
          <div class="col-md-2">
            <p>20</p>
          </div>
        </div>
        <div class="card-body d-flex">
          <div class="col-md-2">
            <p>Total Value</p>
          </div>
          <div class="col-md-2">
            <p>550 EGP</p>
          </div>
          <div class="col-md-2">
            <p>Total Transaction Count</p>
          </div>
          <div class="col-md-2">
            <p>5161</p>
          </div>
          <div class="col-md-2">
            <p>Max Transaction Date-Time</p>
          </div>
          <div class="col-md-2">
            <p>8-1-2021 | 10:16 PM</p>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header bg-white align-items-center">
          <span class="dot2 bg-main"></span>
          <img
            class="text-main"
            src="assets/images/gas-station-svgrepo-com-6.svg"
            alt=""
          />
          <span>STATION NAME DUMMY</span>
        </div>
        <div class="card-body d-flex">
          <div class="col-md-2">
            <p>Total Sales</p>
          </div>
          <div class="col-md-2">
            <p>62,721 m <sup>3</sup></p>
          </div>
          <div class="col-md-2">
            <p>Compression State</p>
          </div>
          <div class="col-md-2">
            <p>Compression</p>
          </div>
          <div class="col-md-2">
            <p>Max Transaction /hour</p>
          </div>
          <div class="col-md-2">
            <p>20</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="show">
      <div class="d-flex justify-content-between align-items-center">
        <p class="fw-bold text-global">STATIONS ACTIVATES OVERVIEW</p>
        <div class="d-flex  justify-content-between align-items-center">
          <p class="brdrbot text-global px-4 fw-bold">Sales</p>
          <p class="px-4 text-global fw-bold">TRANSACTION</p>
          <p class="px-4 text-global fw-bold">VALUE</p>
          <p class="px-4 text-global fw-bold">COMPRESSION</p>
        </div>
      </div>
      <div>
        <canvasjs-chart
          [options]="chartOptions"
          [styles]="{ width: '100%', height: '360px' }"
        ></canvasjs-chart>
      </div>
    </div>
  </div>
</div>
