<div class="container">
  <div class="row">
    <div class="py-3">
      <div class="d-flex align-items-center container  justify-content-between">
        <div class="d-flex align-items-center">
          <div class="dot"></div>
          <img src="assets/images/gas-station-svgrepo-com.svg" alt="" />
          <p class="m-0">2/3 Monitored Stations</p>
        </div>
        <div class="d-flex align-items-center">
          <div class="dot"></div>
          <i class="fa-solid fa-rotate-right fa-rotate-90"></i>
          <p class="m-0 px-3">20S Last Update</p>
        </div>
        <div class="d-flex align-items-center container-bg rounded-5">
          <div class="bg-main rounded-5 py-1 px-3 text-white fs-sm">TODAY</div>
          <div class="container-bg rounded-5 text-global py-1 px-3 fs-sm">
            YESTERDAY
          </div>
          <div class="container-bg rounded-5 text-global py-1 px-3 fs-sm">
            LAST WEEK
          </div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-caret-right text-main px-3"></i>

          <div class=" d-flex align-items-center brdr">
            <p class="m-0 px-4">Start date - time</p>
            <i class="fa-regular fa-calendar text-global"></i>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-stop text-main px-3"></i>

          <div class=" d-flex align-items-center brdr">
            <p class="m-0 px-4">End date - time</p>
            <i class="fa-regular fa-calendar text-global"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
